<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
  <div class="container-fluid">

    <!-- Form -->
    <form class="form-inline mr-4 d-none d-md-flex">
      <div class="input-group input-group-flush input-group-merge" data-toggle="lists" data-options="{&quot;valueNames&quot;: [&quot;name&quot;]}">

        <!-- Input -->
        <input type="search" class="form-control form-control-prepended dropdown-toggle search" data-toggle="dropdown" placeholder="Search" aria-label="Search">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fe fe-search"></i>
          </div>
        </div>
      </div>
    </form>

    <!-- User -->
    <div class="navbar-user"> 

      <!-- Dropdown -->
      <div class="dropdown">

        <!-- Toggle -->
        <a class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/images/avatar.jpg" alt="..." class="avatar-img rounded-circle">
        </a>
        <a [routerLink] = "['../login']" class="logout-link"><img src="../../assets/images/log-out.svg"></a>

      </div>

    </div>

  </div>
</nav>