  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
  <div class="container-fluid">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="index.html">
      <img src="../../assets/images/logo.jpg" class="navbar-brand-img 
      mx-auto" alt="...">
    </a>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['../dashboard']">
            <i class="fe fe-home"></i> Dashboards
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['../all-orders']">
            <i class="fe fe-home"></i> Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" ng-init="isActive = false"
          (click)="isActive = !isActive">
            <i class="fe fe-home"></i> Products
          </a>
          <div class="collapse" [ngClass]="{'show': isActive}" id="products">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="profile-posts.html" class="nav-link ">
                  All Products
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink] = "['../add-product']" class="nav-link ">
                  Add products
                </a>
              </li>
              <li class="nav-item">
                <a href="profile-posts.html" class="nav-link ">
                  Posts
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['../dashboard']">
            <i class="fe fe-home"></i> Dashboards
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="index.html#sidebarPages" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPages">
            <i class="fe fe-file"></i> Pages
          </a>
          <div class="collapse " id="sidebarPages">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="index.html#sidebarProfile" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProfile">
                  Profile
                </a>
                <div class="collapse " id="sidebarProfile">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="profile-posts.html" class="nav-link ">
                        Posts
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="profile-groups.html" class="nav-link ">
                        Groups
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="profile-projects.html" class="nav-link ">
                        Projects
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="profile-files.html" class="nav-link ">
                        Files
                      </a>
                    </li>
                      <li class="nav-item">
                      <a href="profile-subscribers.html" class="nav-link ">
                        Subscribers
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="index.html#sidebarProject" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProject">
                  Project
                </a>
                <div class="collapse " id="sidebarProject">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="project-overview.html" class="nav-link ">
                        Overview
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="project-files.html" class="nav-link ">
                        Files
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="project-reports.html" class="nav-link ">
                        Reports
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="project-new.html" class="nav-link ">
                        New project
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="index.html#sidebarTeam" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTeam">
                  Team
                </a>
                <div class="collapse " id="sidebarTeam">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="team-overview.html" class="nav-link ">
                        Overview
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="team-projects.html" class="nav-link ">
                        Projects
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="team-members.html" class="nav-link ">
                        Members
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="team-new.html" class="nav-link ">
                        New team
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="index.html#sidebarFeed" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarFeed">
                  Feed
                </a>
                <div class="collapse " id="sidebarFeed">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="feed.html" class="nav-link ">
                        Platform
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="social-feed.html" class="nav-link ">
                        Social <span class="badge badge-soft-success ml-auto">New</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="kanban.html" class="nav-link ">
                  Kanban <span class="badge badge-soft-success ml-auto">New</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="orders.html" class="nav-link ">
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a href="settings.html" class="nav-link ">
                  Settings
                </a>
              </li>
              <li class="nav-item">
                <a href="invoice.html" class="nav-link ">
                  Invoice
                </a>
              </li>
              <li class="nav-item">
                <a href="pricing.html" class="nav-link ">
                  Pricing
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#sidebarAuth" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
            <i class="fe fe-user"></i> Authentication
          </a>
          <div class="collapse" id="sidebarAuth">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="index.html#sidebarSignIn" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignIn">
                  Sign in
                </a>
                <div class="collapse" id="sidebarSignIn">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="sign-in-cover.html" class="nav-link">
                        Cover
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-in-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-in.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="index.html#sidebarSignUp" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignUp">
                  Sign up
                </a>
                <div class="collapse" id="sidebarSignUp">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="sign-up-cover.html" class="nav-link">
                        Cover
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-up-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-up.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="index.html#sidebarPassword" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPassword">
                  Password reset
                </a>
                <div class="collapse" id="sidebarPassword">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="password-reset-cover.html" class="nav-link">
                        Cover
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="password-reset-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="password-reset.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="index.html#sidebarError" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarError">
                  Error
                </a>
                <div class="collapse" id="sidebarError">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="error-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="error.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li> -->
      </ul>

      <!-- Divider -->
      <hr class="navbar-divider my-3">

      <!-- Heading -->
      <h6 class="navbar-heading">
        Documentation
      </h6>

      <!-- Navigation -->
      <ul class="navbar-nav mb-md-4">
        <li class="nav-item">
          <a class="nav-link " href="getting-started.html">
            <i class="fe fe-bell"></i> Notifications
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="changelog.html">
            <i class="fe fe-git-branch"></i> Activity Logs <span class="badge badge-primary ml-auto">v1.4.2</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="changelog.html">
            <i class="fe fe-user"></i> Settings
          </a>
        </li>
      </ul>

      <!-- Push content down -->
      <div class="mt-auto"></div>
    </div> <!-- / .navbar-collapse -->

  </div>
</nav>