<!-- Dashboard Page -->
<div class="vf-body-wrapper">
	<app-sidebar></app-sidebar>
	<div class="main-content">
    <app-header></app-header>
    <app-alert></app-alert>
		<!-- HEADER -->
      <div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Overview
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Dashboard
                </h1>

              </div>
              <div class="col-auto">
                
                <!-- Button -->
                <a href="dashboard-alt.html#!" class="btn btn-primary lift">
                  Create Report
                </a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .header-body -->

        </div>
      </div> <!-- / .header -->
      <!-- CARDS -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl">
            
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2">
                      Budget
                    </h6>
                    
                    <!-- Heading -->
                    <span class="h2 mb-0">
                      $24,500
                    </span>

                    <!-- Badge -->
                    <span class="badge badge-soft-success mt-n1">
                      +3.5%
                    </span>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Icon -->
                    <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->

              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">
            
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2">
                      Total Hours
                    </h6>
                    
                    <!-- Heading -->
                    <span class="h2 mb-0">
                      763.5
                    </span>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Icon -->
                    <span class="h2 fe fe-briefcase text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->

              </div>
            </div>
              
          </div>
          <div class="col-12 col-lg-6 col-xl">
            
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2">
                      Progress
                    </h6>

                    <div class="row align-items-center no-gutters">
                      <div class="col-auto">

                        <!-- Heading -->
                        <span class="h2 mr-2 mb-0">
                          84.5%
                        </span>
                        
                      </div>
                      <div class="col">
                        
                        <!-- Progress -->
                        <div class="progress progress-sm">
                          <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                      </div>
                    </div> <!-- / .row -->

                  </div>
                  <div class="col-auto">
                    
                    <!-- Icon -->
                    <span class="h2 fe fe-clipboard text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->

              </div>
            </div>
              
          </div>
          <div class="col-12 col-lg-6 col-xl">
            
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="card-title text-uppercase text-muted mb-2">
                      Cost/Unit
                    </h6>
                    
                    <!-- Heading -->
                    <span class="h2 mb-0">
                      $5.50
                    </span>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Chart -->
                    <div class="chart chart-sparkline">
                      <canvas class="chart-canvas" id="sparklineChart"></canvas>
                    </div>

                  </div>
                </div> <!-- / .row -->

              </div>
            </div>
              
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Goals -->
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="card-header-title">
                      Goals
                    </h4>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a href="dashboard-alt.html#!" class="btn btn-sm btn-white">
                      Export
                    </a>
                    
                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="table-responsive mb-0" data-toggle="lists" data-options='{"valueNames": ["goal-project", "goal-status", "goal-progress", "goal-date"]}'>
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <tr>
                      <th>
                        <a href="dashboard-alt.html#" class="text-muted sort" data-sort="goal-project">
                          Goal
                        </a>
                      </th>
                      <th>
                        <a href="dashboard-alt.html#" class="text-muted sort" data-sort="goal-status">
                          Status
                        </a>
                      </th>
                      <th>
                        <a href="dashboard-alt.html#" class="text-muted sort" data-sort="goal-progress">
                          Progress
                        </a>
                      </th>
                      <th>
                        <a href="dashboard-alt.html#" class="text-muted sort" data-sort="goal-date">
                          Due date
                        </a>
                      </th>
                      <th class="text-right">
                        Team
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td class="goal-project">
                        Update the API
                      </td>
                      <td class="goal-status">
                        <span class="text-warning">●</span> In progress
                      </td>
                      <td class="goal-progress">
                        55%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">07/24/18</time>
                      </td>
                      <td class="text-right">
                        <div class="avatar-group">
                          <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Dianna Smiley">
                            <img src="assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Ab Hadley">
                            <img src="assets/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Adolfo Hess">
                            <img src="assets/img/avatars/profiles/avatar-3.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Daniela Dewitt">
                            <img src="assets/img/avatars/profiles/avatar-4.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                        </div>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="dashboard-alt.html#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="goal-project">
                        Release v1.2-Beta
                      </td>
                      <td class="goal-status">
                        <span class="text-warning">●</span> In progress
                      </td>
                      <td class="goal-progress">
                        25%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">08/26/18</time>
                      </td>
                      <td class="text-right">
                        <div class="avatar-group justify-content-end">
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Dianna Smiley">
                            <img src="assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Ab Hadley">
                            <img src="assets/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Adolfo Hess">
                            <img src="assets/img/avatars/profiles/avatar-3.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                        </div>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="dashboard-alt.html#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="goal-project">
                        GDPR Compliance
                      </td>
                      <td class="goal-status">
                        <span class="text-success">●</span> Completed
                      </td>
                      <td class="goal-progress">
                        100%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">06/19/18</time>
                      </td>
                      <td class="text-right">
                        <div class="avatar-group justify-content-end">
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Dianna Smiley">
                            <img src="assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Ab Hadley">
                            <img src="assets/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Adolfo Hess">
                            <img src="assets/img/avatars/profiles/avatar-3.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                        </div>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="dashboard-alt.html#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="goal-project">
                        v1.2 Documentation
                      </td>
                      <td class="goal-status">
                        <span class="text-danger">●</span> Cancelled
                      </td>
                      <td class="goal-progress">
                        0%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">06/25/18</time>
                      </td>
                      <td class="text-right">
                        <div class="avatar-group justify-content-end">
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Dianna Smiley">
                            <img src="assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Ab Hadley">
                            <img src="assets/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                        </div>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="dashboard-alt.html#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fe fe-more-vertical"></span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="goal-project">
                        Plan design offsite
                      </td>
                      <td class="goal-status">
                        <span class="text-success">●</span> Completed
                      </td>
                      <td class="goal-progress">
                        100%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">06/30/18</time>
                      </td>
                      <td class="text-right">
                        <div class="avatar-group justify-content-end">
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Dianna Smiley">
                            <img src="assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Ab Hadley">
                            <img src="assets/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Adolfo Hess">
                            <img src="assets/img/avatars/profiles/avatar-3.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                          <a href="dashboard-alt.html#!" class="avatar avatar-xs" data-toggle="tooltip" title="Daniela Dewitt">
                            <img src="assets/img/avatars/profiles/avatar-4.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>
                        </div>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="dashboard-alt.html#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="dashboard-alt.html#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
	</div>
</div>
<!-- Dashboard Page -->